---
layout: default
---
<div class="home">
    <!--
<span class="post-counter" >{{ site.posts | size }} Posts</span>
    -->
<span class="post-counter">Main Posts</span>
<ul>
    {% for post in site.posts %}
    <li>
        <a href="{% include relative %}{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        <p class="post-info">
            {% for tag in page.tags %}
            @<a href="{% include relative %}/tags/#{{ tag | downcase }}">{{ tag }}</a>
            {% endfor %}
            on <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%b %-d, %Y" }}</time>
        </p>
    </li>
    {% endfor %}
</ul>
</div>